.sitemap1 {
    font-size: 90%;
    color: #6690a1
}

.sitemap2 {
    font-size: 80%;
    margin-left: 5px;
    color: #6690a1
}

.sitemap3 {
    font-size: 60%;
    margin-left: 20px;
    color: #6690a1
}

.sitemap4 {
    font-size: 40%;
    margin-left: 20px;
    color:#6690a1;

}

.nonavbar {
    overflow-y: scroll;
    margin-right: 0px;
    scrollbar-width: none;
}
.nonavbar::-webkit-scrollbar {
        display: none;
        
    }
