.sitemap1 {
    font-size: 100%
}

.sitemap2 {
    font-size: 9%
}

.sitemap3 {
    font-size: 60%
}

.sitemap4 {
    font-size: 40%
}

.nonavbar {
    overflow-y: scroll;
    margin-right: 0px;
}
.nonavbar::-webkit-scrollbar {
        display: none;
        
    }
