$colorPrimary: rgb(58, 226, 226);

.Scrollspy1 {
    font-size: 90%;
    padding-top: 0;
    padding-bottom: 0;
    color: $colorPrimary;
    
}

.Scrollspy2 {
    font-size: 80%;
    margin-left: 40px;
    padding-top: 0;
    padding-bottom: 0;
}

.Scrollspy3 {
    font-size: 60%;
    padding-top: 0;
    padding-bottom: 0;
    margin-left: 80px;
}

.iscurrent {
    display: inline-block;
    border: solid white;
}

.container {
    margin-top: 0px;
    margin-bottom: 10px;
    overflow: auto hidden visible scroll;
}

.nonavbar {
    overflow-y: scroll;
    scrollbar-width: none;

    
}
.nonavbar::-webkit-scrollbar {
        display: none;
        width: none;
    }
